[Desktop Entry]
Type=Application
Name=unburn
Comment=Corrects OLED and LCD mura, also known as "backlight bleed", that appear due to aging or applied pressure
Exec=unburn
Terminal=false
Categories=Utility;
